{% extends 'base.html' %}
{% load static %}
{% block title %}appointment{% endblock %}

{% block Content %}
<!-- Appointment Section -->
<section id="appointment" class="appointment section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>MAKE AN APPOINTMENT</h2>
        
        
        {% if user.is_superuser %}
        <p>Make an appointment for a patient or access all made appointments.</p>
            <p>
                Whant to check made appointments? 
                <button>
                    <a href="{% url 'thee_app:appointment_show' %}">View All Appointments</a>
                </button>
            </p>
        {% else %}
        <p>Plan your visit early by booking an appointment with one of our well-trained dentist now.</p>
            <p>
                Want to review your appointments?
                <button>
                    <a href="{% url 'thee_app:my_appointments' %}">See My Appointments</a>
                </button>
            </p>
        {% endif %}
    </div><!-- End Section Title -->
    
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <form action="{% url 'thee_app:appointment' %}" method="post" role="form" class="php-email-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 form-group">
                    <label for="name">Full name</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                    <label for="email">Your email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                    <label for="phone">Your phone number</label>
                    <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone" required>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-4 form-group mt-3">
                    <label for="date">Select date and time of your visit</label>
                    <input type="datetime-local" name="date" class="form-control datepicker" id="date" placeholder="Appointment Date" required>
                </div>

                <div class="col-md-4 form-group mt-3 mt-md-0">
                    <label for="phone">Department you waht to visit</label>
                    <p>Not sure? <a href="{% url 'thee_app:home_page' %}#tabs">view our departments</a></p>
                    <input type="tel" class="form-control" name="department" id="department" placeholder="Department" required>
                </div>

                <div class="col-md-4 form-group mt-3 mt-md-0">
                    <label for="phone">Doctor you waht to see</label>
                    <p>Not sure? <a href="{% url 'thee_app:home_page' %}#doctors">view our doctors</a></p>
                    <input type="tel" class="form-control" name="doctor" id="doctor" placeholder="Doctor" required>
                </div>

                                
            </div> 

            <div class="form-group mt-3">
                <label for="message">Reason for your visit</label>
                <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)"></textarea>
            </div>
            <div class="mt-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
                <div class="text-center"><button type="submit">Make an Appointment</button></div><br>
                <div class="text-center"><a href="{% url 'thee_app:pay' %}" class="btn btn-success">Make a Payment to complete your appointment</a></div>
            </div>
        </form>
    </div>

</section><!-- /Appointment Section -->


{% endblock %}
